* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 14px "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.title {
  text-align: center;
}
.title h2 {
  font-size: 40px;
  line-height: 45px;
}
.title p {
  margin-top: 22px;
  font-size: 15px;
  line-height: 30px;
}

.addBtn__color {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  padding: 11px 45px;
  background: #6f2cff;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  margin-right: 22px;
}
.addBtn__nocolor {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #6f2cff;
  padding: 11px 45px;
  background: #ffffff;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.about__title {
  text-align: center;
}
.about__title h2 {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
}
.about__title p {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}